<h1 class="m-3 p-1 bg-light text-dark border-left border-primary">
  このアプリについて
</h1>

<div class="mx-4 px-2">
  <p>
    SimpleChatは、大した機能を持たない、<br>
    チャットアプリのような何かになる予定です。
  </p>
  <p>
    そしてこのページには、このアプリについての説明を<br>
    記載するところなのですが、今のところまだ<br>
    特に書く内容がありません。
  </p>
  <p>
    なのでとりあえず適当な内容で欄を埋めておきます。
  </p>
</div>
