<header class="navbar fixed-top navbar-expand navbar-dark bg-primary">
  <div class="container">
    <%= link_to "SimpleChat ver.2", root_path, class: "navbar-brand" %>

    <nav class="nav navbar-nav justify-content-end">
      <%= link_to "このアプリについて", '#', class: "nav-link" %>
      <%= link_to "新規登録", '#', class: "nav-link" %>
      <%= link_to "ログイン", '#', class: "nav-link" %>
    </nav>

  </div>
</header>
